---
layout: default
---

<div id="home" class="page-content wc-container">
    <div class="posts">
        {% for post in site.posts limit:10 %}
        <div class="post-preview">
            <p class="post-meta">
                <span class="post-date">
                    {{ post.date | date: "%b %-d, %Y" }}
                </span>
                {% if post.categories.size > 0 %}
                <span class="tags">
                    {% for cat in post.categories %}
                    {% assign tag_idx = cat | size | modulo: 5 %}
                    <span class="tag tag-{{ tag_idx }}">{{ cat }}</span>
                    {% endfor %}
                </span>
                {% endif %}
            </p>

            <h3 class="post-title">
                <a
                    href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"
                >
                    {{ post.title }}
                </a>
            </h3>

            <p class="post-excerpt">{{ post.excerpt }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="archive-link">
        <a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}"
            >View all posts &rarr;</a
        >
    </div>
</div>
