 @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
 // General colors

$color-white: #FFF;
$color-black: #000;

$color-1: $color-white;
$color-2: $color-black;

// Color schemes for themes based on https://github.com/chriskempson/base16
$base-00: #000000;
$base-01: #FFFFFF;
$grad1: #FFFFFF;
$grad2: #FFFFFF;
$grad3: #42a6ff;
$base-02: #FFFFFF;
// Fonts

$primary-font: Arial, sans-serif;
