// General colors

$color-white: #FFF;
$color-black: #000;

$color-1: $color-white;
$color-2: $color-black;

// Color schemes for themes based on https://github.com/chriskempson/base16
$base-00: #FFFFFF;
$base-01: #DD55FF;
$base-02: #FFFFFF;
$base-03: #FFFFFF;
$base-04: #FFFFFF;
$base-05: #FFFFFF;
$base-06: #FFFFFF;
$base-07: #FFFFFF;
$base-08: #DD55FF;
$base-09: #FFFFFF;


// Fonts
$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
