---
---

// Import reset
@import "partials/reset";

// Import colors, fonts etc...
@import "partials/variables";

// Import custom mixins
@import "partials/mixins";

// Import layout mixin
@import "partials/layout";

// Import rouge
@import "partials/rouge-theme";

/* --------------------------------
   Theme variables
-------------------------------- */

$bg-main: #9ea7f7;
$text-main: #1a1a1a;
$accent: #ff2e88;
$muted: #6f6f6f;

/* --------------------------------
   Base reset & globals
-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    @include box-sizing(border-box);
}

body {
    font-family:
        "Inter",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    color: $text-main;
    background: $bg-main;
    font-size: 100%;
}

.wc-container {
    width: 90%;
    max-width: $M;
    margin: 0 auto;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/* --------------------------------
   Typography
-------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Varela Round", sans-serif;
    line-height: 1.5;
}

h1 {
    @include font-size(22px);
    @include MQ(M) {
        @include font-size(38px);
    }
}

h2 {
    @include font-size(20px);
    @include MQ(M) {
        @include font-size(32px);
    }
}

h3 {
    @include font-size(18px);
    @include MQ(M) {
        @include font-size(28px);
    }
}

h4 {
    @include font-size(16px);
    @include MQ(M) {
        @include font-size(24px);
    }
}

h5 {
    @include font-size(15px);
    @include MQ(M) {
        @include font-size(20px);
    }
}

h6 {
    @include font-size(14px);
    @include MQ(M) {
        @include font-size(18px);
    }
}

p {
    line-height: 1.7;
    color: $text-main;
    @include font-size(15px);
    margin-bottom: 1em;

    @include MQ(M) {
        @include font-size(18px);
    }
}

/* --------------------------------
   Links
-------------------------------- */

a {
    color: $text-main;
    text-decoration: underline;
    background-image: linear-gradient(transparent 90%, $accent 10%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
}

a:hover {
    background-size: 100% 100%;
}

/* --------------------------------
   Header
-------------------------------- */

header.main-header {
    padding: 1.5em 0 0.5em 0;

    .site-title {
        font-family: "Varela Round", sans-serif;
        font-weight: 700;
        font-size: 3em;
        color: #000;
    }

    .site-title a {
        background: none;
        color: #000;
        background-image: linear-gradient(transparent 90%, $accent 10%);
        background-size: 0% 100%;
        background-repeat: no-repeat;
        transition: background-size 1s ease;
    }

    .site-title a:hover {
        color: #000;
        background-size: 100% 100%;
    }

    ul.nav-links {
        padding-top: 0.5em;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    ul.nav-links li {
        margin-right: 2em;
        display: inline-block;
    }

    ul.nav-links li a {
        font-size: 1.5em;
        font-weight: 600;
    }
}

/* --------------------------------
   Footer
-------------------------------- */

footer.main-footer {
    padding: 2em 0;
    border-top: 1px solid $muted;
    color: $muted;

    ul.menu li {
        display: inline;
        margin-right: 1em;
    }
}

/* --------------------------------
   Page content
-------------------------------- */

.page-content {
    padding: 0.5em 0 2em 0;

    ul {
        padding-left: 1.5em;
        li {
            list-style: square;
            padding-left: 0.5em;
            margin-bottom: 0.5em;
            color: $text-main;
        }
        li::marker {
            color: #000;
            text-shadow:
                -1px -1px 0 $accent,
                1px -1px 0 $accent,
                -1px 1px 0 $accent,
                1px 1px 0 $accent;
        }
    }

    ol {
        padding-left: 1.5em;
        li {
            list-style: decimal;
            padding-left: 0.5em;
            margin-bottom: 0.5em;
            color: $text-main;
        }
    }
}

/* --------------------------------
   Posts
-------------------------------- */

div.post {
    background: inherit;
    border-radius: 14px;
    padding: 1.8em;
    margin-bottom: 2em;

    h3 {
        font-family: "Varela Round", sans-serif;
        font-weight: 700;
    }
}

p.post-meta {
    letter-spacing: 1.5px;
    color: $muted;
    @include font-size(13px);
}

/* --------------------------------
   Blockquote
-------------------------------- */

blockquote {
    padding: 0.5em 1em;
    margin: 0.8em 0;
    color: #7a7a7a;
    border-left: 0.25em solid #e5e5e5;
}

blockquote p:last-child {
    margin-bottom: 0;
}

/* --------------------------------
   Code
-------------------------------- */

code,
pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
    background: white;
    border-radius: 0px;
    font-size: 85%;
    padding: 0.1em 0.1em;
}

pre {
    background: white;
    padding: 1.2em 2em 1.2em 2.5em;
    border-left: 6px solid $accent;
    border-radius: 10px;
    overflow-x: auto;

    code {
        background: none;
        padding: 0;
        border-radius: 0;
    }

    @include MQ(M) {
        @include font-size(14px);
    }
}

/* --------------------------------
   Tables
-------------------------------- */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5em 0;
}

th {
    background: $text-main;
    color: white;
}

td,
th {
    padding: 0.8em 1em;
    border: 1px solid $muted;
}

/* --------------------------------
   Images
-------------------------------- */

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 1em 0;
}

/* --------------------------------
   Utility
-------------------------------- */

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}
